<%- include('includes/head.ejs'); %>

<%- include('includes/nav.ejs'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
            <div class="col-lg-8 my-5">
                <h4 class="text-center text-white">Seus Contatos</h4>

                <%- include('includes/messages.ejs') %>

                <% if(contatos.length > 0 ) { %>
                    <div>
                        <table class="table table-hover my-3 bg-dark">
                            <% contatos.forEach(contato => { %>
                                <tr>
                                    <td><%= contato.nome %></td>
                                    <td><%= contato.sobrenome %></td>
                                    <td><%= contato.email %></td>
                                    <td><%= contato.telefone %></td>
                                    <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
                                    <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Delete</a></td>
                                </tr>
                                <% } ); %>
                        </table>
                    </div>
                    <% } else { %>
                        <p class="text-center lead">Não existem contatos na sua agenda</p>
                        <% } %>

            </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer.ejs'); %>